body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  /* Add animation property to body */
  animation: animate-one 1000ms;
}



  
  /* Navbar.css */
  .Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
  }
  
  .nav_logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .nav_logo h2 {
    color: blueviolet;
    font-size: 24px;
    font-weight: 600;
  }
  .my-nav{
    margin-left: 500px;
  }
  
  .nav_menu {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav_menu li {
    cursor: pointer;
    margin-top: 35px;
  }
  
  .nav_menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: red;
  }
  
  .nav_login_cart {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .nav_login_cart button {
    width: 120px;
    height: 38px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 20px;
    color: #515151;
    font-size: 16px;
    font-weight: 500;
    background: white;
    cursor: pointer;
  }
  
  .nav_login_cart button:active {
    background: #f3f3f3;
  }
  
  .nav_cart_count {
    width: 24px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -25px;
    margin-left: -45px;
    border-radius: 12px;
    font-size: 16px;
    background: red;
    color: white;
  }
  .Navbar{
    animation: animate-one 1000ms;
  }
  @keyframes animate-one{
    0%{
      transform: scale(0);
    }
    90%{
      transform: scale(1.1);
    }
    100%{
      transform: scale(1);
    }
  }