.centered-text {
    text-align: center;
    font-size: 40px;
    padding: 20px;
    
  }
  .centered-text hr {
    border: 0;
    height: 3px;
    background-color: #000; 
    margin: 20px 0; 
  }